<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-primary">About Us</h2>
    
    <div class="content">
      <p>
        Recipeasy was founded in 2023 by Joshua Arceo and Juan Galvez in Miami, Florida. Our mission is to teach people how to cook a plethora of recipes from all around the world, regardless of age or background. We believe that cooking is an essential life skill that brings people together and allows for creativity and self-expression.
      </p>
      <p>
        Our platform is designed as a social-media style recipe database, where users can share their favorite recipes, discover new ones, and connect with a community of passionate home cooks. Whether you're a seasoned chef or just starting out, Recipeasy is here to support you on your culinary journey.
      </p>
    </div>

    <div class="columns is-centered">
  <!-- Co-Founder 1 Card -->
  <div class="column is-3">
    <div class="card">
      <div class="card-content">
        <p class="title is-4 has-text-primary">Joshua Arceo</p>
        <p class="subtitle text-is-primary">Co-Founder</p>
      </div>
      <div class="card-image">
        <figure class="image is-4by2">
          <img src="/images/IMG_1973.jpg" alt="Joshua Arceo">
        </figure>
      </div>
    </div>
  </div>

  <!-- Co-Founder 2 Card -->
  <div class="column is-3">
    <div class="card">
      <div class="card-content">
         <p class="title is-4 has-text-primary">Juan Galvez</p>
        <p class="subtitle">Co-Founder</p>
      </div>
      <div class="card-image">
        <figure class="image is-4by2">
          <img src="/images/image000000.JPG" alt="Juan Galvez">
        </figure>
      </div>
    </div>
  </div>
</div>


  </div>
</section>
