<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">On the Backburner</h2>
    <p class="subtitle">We're working hard to bring you this feature!</p>
    <p>
      We apologize for any inconvenience this may cause. Rest assured, our team is dedicated to creating the best experience for our users, and we are working diligently to get this feature up and running. We appreciate your patience. In the meantime, feel free to explore the other amazing features Recipeasy has to offer!
    </p>
    <div class="columns is-centered">
      <div class="column is-6">
        <figure class="image is-16by9">
          <img src="/images/on-the-backburner.jpg" alt="On the Backburner">
        </figure>
      </div>
    </div>
    <div class="columns is-centered mt-6">
      <div class="column is-6">
        <figure class="image is-16by9">
          <img src="/images/your-meme.jpg" alt="Your Meme">
        </figure>
      </div>
    </div>
  </div>
</section>
