
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half has-text-centered">
        <div class="welcome-content">
          <h2 class="title is-3 has-text-primary mb-10">Welcome to Recipeasy!</h2>
          <p class="subtitle is-5">
            Your go-to platform for discovering and sharing delicious recipes from around the world! Whether you're a seasoned chef or just starting out in the kitchen, Recipeasy is here to make your cooking experience easy, fun, and full of flavor.
          </p>
          <p class="subtitle is-5">
            Log in to turn your kitchen into a five-star restaurant!
          </p>
          <a href="/about" class="button is-primary is-medium">Learn More</a>
        </div>
      </div>
   

        <div class="column is-half">
          <h2 class="title is-3 has-text-centered mb-4 has-text-primary">Login</h2>
          <form>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input class="input" type="email" placeholder="Email">
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Password</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <input class="input" type="password" placeholder="Password">
                  </p>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control has-text-centered">
                <button class="button is-primary">Login</button>
              </div>
            </div>
          </form>
          <p class="has-text-centered mt-4">
            Don't have an account? <a href="#" class="has-text-primary">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </section>