<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">Trending Categories</h2>
    <div class="columns is-multiline is-mobile">
      <div class="column is-3">
        <div class="card custom-card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/latin-food.jpeg" alt="Latin">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/latin" class="button is-primary is-fullwidth">Latin</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card custom-card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/asian-food.jpeg" alt="Asian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/asian" class="button is-primary is-fullwidth">Asian</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card custom-card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/caribbean-food.webp" alt="Caribbean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/caribbean" class="button is-primary is-fullwidth">Caribbean</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card custom-card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/American-food.jpeg" alt="American">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/american" class="button is-primary is-fullwidth">American</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title has-text-centered has-text-primary">Featured Recipes</h2>
    <div class="columns is-multiline">
      
       <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/Carne-Asada-35.jpg" alt="Carne Asada">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <h3 class="title is-4">Carne Asada</h3>
              <p>Description: Tender and flavorful grilled steak, marinated in a zesty blend of citrus and spices. Perfect for tacos, burritos, or as a main dish with rice and beans.</p>
               <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
          <h4 class="subtitle is-5">Ingredients</h4>
          <ul>
             <li>2 pounds flank or skirt steak</li>
        <li>4 cloves garlic, minced</li>
        <li>1 jalapeño pepper, seeded and minced</li>
        <li>1 teaspoon ground cumin</li>
        <li>1 teaspoon chili powder</li>
        <li>1 teaspoon paprika</li>
        <li>1/2 cup fresh lime juice</li>
        <li>1/4 cup fresh orange juice</li>
        <li>Salt and pepper to taste</li>
        <li>Fresh cilantro, for garnish</li>
          </ul>

          <h4 class="subtitle is-5">Preparation</h4>
          <ol>
             <li>In a bowl, combine minced garlic, minced jalapeño, ground cumin, chili powder, paprika, fresh lime juice, and fresh orange juice.</li>
        <li>Place the steak in a resealable plastic bag and pour the marinade over it. Seal the bag and refrigerate for at least 2 hours, or overnight for best results.</li>
        <li>Preheat your grill or grill pan to high heat. Remove the steak from the marinade and let any excess drip off.</li>
        <li>Season the steak with salt and pepper. Grill for about 4-6 minutes per side for medium-rare, or to your desired level of doneness.</li>
        <li>Remove the steak from the grill and let it rest for a few minutes before slicing it thinly against the grain.</li>
        <li>Garnish with fresh cilantro and serve.</li>
          </ol>
        </div>
      
        <button class="button is-primary like-button">Add to Favorites</button>
            </div>
          </div>
        </div>
      </div>

     
      <div class="column is-4">
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
              <img src="images/shrimp-pad-thai.jpeg" alt="Shrimp Pad Thai">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <h3 class="title is-4">Shrimp Pad Thai</h3>
              <p>Description: A classic Thai dish featuring succulent shrimp, stir-fried with rice noodles, crunchy peanuts, and fresh herbs in a tangy tamarind sauce. A harmonious blend of sweet, sour, and savory flavors.</p>
               <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
          <h4 class="subtitle is-5">Ingredients</h4>
          <ul>
            <li>8 oz rice noodles</li>
        <li>1/2 lb large shrimp, peeled and deveined</li>
        <li>2 eggs, lightly beaten</li>
        <li>2 cloves garlic, minced</li>
        <li>1 cup bean sprouts</li>
        <li>1/2 cup green onions, chopped</li>
        <li>1/4 cup roasted peanuts, chopped</li>
        <li>2 tablespoons vegetable oil</li>
        <li>1 lime, cut into wedges</li>
        <li>Fresh cilantro, for garnish</li>
        <li>3 tablespoons fish sauce</li>
        <li>2 tablespoons tamarind paste</li>
        <li>1 tablespoon soy sauce</li>
        <li>2 tablespoons brown sugar</li>
        <li>1/2 teaspoon chili flakes (adjust to taste)</li>
          </ul>

          <h4 class="subtitle is-5">Preparation</h4>
          <ol>
            <li>Cook the rice noodles according to the package instructions. Drain and set aside.</li>
        <li>In a small bowl, whisk together fish sauce, tamarind paste, soy sauce, brown sugar, and chili flakes to make the Pad Thai sauce. Set aside.</li>
        <li>Heat 1 tablespoon of vegetable oil in a large skillet or wok over medium-high heat. Add the shrimp and cook until pink and opaque, about 2-3 minutes per side. Remove from the pan and set aside.</li>
        <li>Add the remaining tablespoon of oil to the pan. Add minced garlic and cook for about 30 seconds until fragrant.</li>
        <li>Push the garlic to one side of the pan and pour the beaten eggs into the other side. Scramble the eggs until cooked through.</li>
        <li>Add the cooked noodles to the pan and pour the prepared Pad Thai sauce over them. Toss to combine and coat the noodles with the sauce.</li>
        <li>Add the cooked shrimp, bean sprouts, and green onions to the pan. Toss everything together until heated through.</li>
        <li>Divide the Pad Thai among plates. Top with chopped peanuts, fresh cilantro, and serve with lime wedges.</li>
          </ol>
        </div>
        
        <button class="button is-primary like-button">Add to Favorites</button>
            </div>
          </div>
        </div>
      </div>

    
      <div class="column is-4">
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/oxtail.jpeg" alt="Oxtail Stew">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <div class="content">
              <h3 class="title is-4">Oxtail Stew</h3>
              <p>Description: Hearty and comforting, this stew features oxtail simmered to tender perfection with aromatic vegetables, herbs, and a rich broth. Served over a bed of rice, it is a soul-warming delight.</p>
               <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
          <h4 class="subtitle is-5">Ingredients</h4>
          <ul>
            <li>2 boneless, skinless chicken breasts, thinly sliced</li>
            <li>2 bell peppers, thinly sliced</li>
            <li>1 cup broccoli florets</li>
            <li>1/2 cup snap peas</li>
            <li>3 cloves garlic, minced</li>
            <li>1-inch piece of ginger, grated</li>
            <li>3 tablespoons soy sauce</li>
            <li>2 tablespoons oyster sauce</li>
            <li>1 tablespoon sesame oil</li>
            <li>2 tablespoons vegetable oil</li>
            <li>Salt and pepper to taste</li>
          </ul>

          <h4 class="subtitle is-5">Preparation</h4>
          <ol>
            <li>In a bowl, combine soy sauce, oyster sauce, grated ginger, and minced garlic. Add the sliced chicken and marinate for at least 30 minutes.</li>
            <li>Heat vegetable oil in a wok or large skillet over high heat. Add marinated chicken and stir-fry until cooked through. Remove from pan and set aside.</li>
            <li>In the same pan, add sesame oil and stir-fry the bell peppers, broccoli, and snap peas until crisp-tender.</li>
            <li>Return the cooked chicken to the pan and toss to combine with the vegetables.</li>
            <li>Season with salt and pepper to taste. Serve hot over steamed rice.</li>
          </ol>
        </div>
       
        <button class="button is-primary like-button">Add to Favorites</button>
        
            </div>
          </div>
        </div>
      </div>



 
      

    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title has-text-centered has-text-primary">Popular Chefs</h2>
<div class="columns is-multiline">

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/salt-bae.jpeg" alt="Salt Bae">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="title is-4">Salt Bae</h3>
          <p>Followers: 100k</p>
          <p>Recipes: 53</p>
          <button class="button is-primary is-fullwidth">Follow</button>
        </div>
      </div>
    </div>
  </div>

 
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/chef-curry.webp" alt="Steph Curry">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="title is-4">Chef Curry</h3>
          <p>Followers: 93k</p>
          <p>Recipes: 3</p>
          <button class="button is-primary is-fullwidth">Follow</button>
        </div>
      </div>
    </div>
  </div>

 
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/1140-martha-snoop-potluck-dinner-party.imgcache.rev.web.700.403.jpg" alt="Martha Stewart">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="title is-4">Martha Stewart</h3>
          <p>Followers: 69k</p>
          <p>Recipes: 69</p>
          <button class="button is-primary is-fullwidth">Follow</button>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/heisenberg.jpeg" alt="Heisenberg">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="title is-4">Heisenberg</h3>
          <p>Followers: 1.2m</p>
          <p>Recipes: 1</p>
          <button class="button is-primary is-fullwidth">Follow</button>
        </div>
      </div>
    </div>
  </div>

   
  