<!-- views/home.handlebars -->

<!DOCTYPE html>
<html>
<head>
    <title>Recipeasy</title>
</head>
<body>
    <h1>Welcome to the Recipeasy!</h1>
    {{!-- Add more HTML content here --}}
</body>
</html>