<!-- popular-categories.handlebars -->

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half has-text-centered">
        <div class="welcome-content">
          <h2 class="title is-3 has-text-primary mb-10">Welcome to Recipeasy!</h2>
          <p class="subtitle is-5">
            Your go-to platform for discovering and sharing delicious recipes from around the world! Whether you're a
            seasoned chef or just starting out in the kitchen, Recipeasy is here to make your cooking experience easy,
            fun, and full of flavor.
          </p>
          <p class="subtitle is-5">
            Log in to turn your kitchen into a five-star restaurant!
          </p>
          <a href="#" class="button is-primary is-medium">Learn More</a>
        </div>
      </div>

      <!-- login -->
     <div class="column is-half">
    <div class="box">
        <h2 class="title is-3 has-text-centered mb-4 has-text-primary">Login</h2>
        <form class="form login-form">
            <div class="field">
                <label for="email-login" class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" id="email-login" placeholder="Enter your email">
                </div>
            </div>

            <div class="field">
                <label for="password-login" class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" id="password-login" placeholder="Enter your password">
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered mt-5">
                <div class="control">
                    <button class="button is-primary" type="submit">Login</button>
                </div>
                <div class="control">
                    <a href="/signup" class="button is-link">Sign Up Here</a>
                </div>
            </div>
        </form>
    </div>
</div>

 
<script src="./js/login.js"></script>