<!-- popular-categories.handlebars -->

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-half has-text-centered">
        <div class="welcome-content">
          <h2 class="title is-3 has-text-primary mb-10">Welcome to Recipeasy!</h2>
          <p class="subtitle is-5">
            Your go-to platform for discovering and sharing delicious recipes from around the world! Whether you're a
            seasoned chef or just starting out in the kitchen, Recipeasy is here to make your cooking experience easy,
            fun, and full of flavor.
          </p>
          <p class="subtitle is-5">
            Log in to turn your kitchen into a five-star restaurant!
          </p>
          <a href="#" class="button is-primary is-medium">Learn More</a>
        </div>
      </div>

      <!-- login -->
      <div class="column is-half">
        <h2 class="title is-3 has-text-centered mb-4 has-text-primary">Login</h2>
        <form class="form login-form">
          <div class="field is-horizontal" class="form-group">
            <label for="email-login">email</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="field-body" class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
      </div>
      <div class="field is-horizontal" class="form-group">
        <label for="password-login">password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      </form>
    </div>
  </div>
  </div>
 
<script src="./js/login.js"></script>