<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">Mediterranean Recipes</h2>
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-5 is-centered">

        {{#each recipes as | recipe | }}

        <div class="card custom-card">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-primary">
                {{title}} Recipe Title
              </h3>
              <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                <h4 class="subtitle is-5">Ingredients</h4>
                <ul>
                  {{ingredients}}
                </ul>

                <h4 class="subtitle is-5">servings</h4>
                <ol>
                  {{servings}}
                </ol>
              </div>
              <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
            </div>
          </div>

          {{/each}}
        </div>