<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">Trending Categories</h2>
    <div class="columns is-multiline">
    
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/latin-food.jpeg" alt="Latin">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Latin</h3>
            </div>
          </div>
        </div>
      </div>

     
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/asian-food.jpeg" alt="Asian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Asian</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/caribbean-food.webp" alt="Caribbean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Caribbean</h3>
            </div>
          </div>
        </div>
      </div>

       <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/American-food.jpeg" alt="American">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">American</h3>
            </div>
          </div>
        </div>
      </div>

     
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/mediterranean-food.jpeg" alt="Mediterranean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Mediterranean</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/caribbean-food.webp" alt="Desserts">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Desserts</h3>
            </div>
          </div>
        </div>
      </div>

       <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/latin-food.jpeg" alt="Vegetarian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Vegetarian</h3>
            </div>
          </div>
        </div>
      </div>

     
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/asian-food.jpeg" alt="Asian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Soul Food</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/caribbean-food.webp" alt="Caribbean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-centered">Healthy</h3>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>