<section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">Trending Categories</h2>
    <div class="columns is-multiline">
    
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/latin-food.jpeg" alt="Latin">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/latin" class="button is-primary is-fullwidth">Latin</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/asian-food.jpeg" alt="Asian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/asian" class="button is-primary is-fullwidth">Asian</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/caribbean-food.webp" alt="Caribbean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/caribbean" class="button is-primary is-fullwidth">Caribbean</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/American-food.jpeg" alt="American">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/american" class="button is-primary is-fullwidth">American</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/mediterranean-food.jpeg" alt="Mediterranean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/mediterranean" class="button is-primary is-fullwidth">Mediterranean</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/desserts-food.jpeg" alt="Desserts">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/desserts" class="button is-primary is-fullwidth">Desserts</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/vegan-foods.jpeg" alt="Vegetarian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/vegetarian" class="button is-primary is-fullwidth">Vegetarian</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/soul-food.jpeg" alt="Asian">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/soul-food" class="button is-primary is-fullwidth">Soul Food</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/healthy-foods.jpg.webp" alt="Caribbean">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/healthy" class="button is-primary is-fullwidth">Healthy</a>
            </div>
          </div>
        </div>
      </div>

       <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/Breakfast-food.jpeg" alt="Breakfast">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/breakfast" class="button is-primary is-fullwidth">Breakfast</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/lunch-food.jpeg" alt="Lunch">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/lunch" class="button is-primary is-fullwidth">Lunch</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/girldinner.jpeg" alt="Dinner">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/dinner" class="button is-primary is-fullwidth">Girl Dinner</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>