<!-- signup -->
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h2 class="title is-3 has-text-centered mb-4 has-text-primary">Sign Up</h2>
                <form class="form signup-form">
                    <div class="field">
                        <label for="name-signup" class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" id="name-signup" placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="field">
                        <label for="email-signup" class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" id="email-signup" placeholder="Enter your email">
                        </div>
                    </div>

                    <div class="field">
                        <label for="password-signup" class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" id="password-signup" placeholder="Enter your password">
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered mt-5">
                        <div class="control">
                            <button class="button is-primary" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src='./js/login.js'></script>